* {
  margin: 0;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);

  height: 100%;
  background-color: #121214;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(images/background.svg) no-repeat center;
  width: 100vw;
  max-height: 812px;
  height: 100vh;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: var(--grey);
}

.strip {
  display: none;
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;

  position: relative;
}

@keyframes rotate-avatar {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0);
  }
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
  animation: 30s rotate-avatar alternate infinite;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;

  margin-top: 1.5rem;
}

a {
  color: var(--grey);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;
}

a > img {
  transition: 0.6s;
}

a > img:hover {
  transform: rotate(360deg);
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;

  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;

  justify-content: center;
}

@keyframes enlarge {
  0% {
    border-radius: 0;
    transform: scale(1);
  }

  100% {
    border-radius: 50%;
    transform: scale(1.2);
  }
}

li img {
  border-radius: 50%;
  transform: scale(1);
  transition: 0.4s;
}

li img:hover {
  transform: scale(1.2);
  /* animation: 1s enlarge ease-in-out infinite; */
}

/* breakpoints to desktop */
@media screen and (min-width: 996px) {
  body {
    background: url(images/background-desktop.svg) no-repeat center top;
  }

  @keyframes balance {
    from {
      transform: rotate(-1deg);
    }
    to {
      transform: rotate(1deg);
    }
  }

  main {
    background-position: center -111px;
    width: 358px;
    height: 560px;
    margin-top: 120px;
    /* animation: 3s 0.3s ease-in-out balance infinite alternate; */
  }

  .strip {
    display: block;
    width: 80px;
    height: 164px;
    margin: -135px auto 0;
    background: url(./images/teste.svg);
    position: relative;
  }

  .strip::before {
    content: '';
    width: 64px;
    height: 100vh;
    background-color: #ff3b6e;
    position: absolute;
    bottom: 98%;
    left: 0;
    right: 0;
    margin: auto;
  }

  .avatar {
    margin-top: 3.3rem;
  }

  ul {
    margin-top: 2rem;
  }
}
